# Manejo de datos
pandas
numpy
sidetable

# Visualizaciones
matplotlib
seaborn
ptitprince

# Rutas y enrutamientos
sys
os
pathlib
psycopg2-binary

# Feature-Engineering 
scikit-learn
feature-engine

# Kernel de Enviorioments
ipykernel

# Ingeneria de Mallas y de LHS
shap
trimesh
shapely
gmsh

# Dependencias
openpyxl